body{
    margin: 0;
    padding: 0;
    width: 100vw;
    
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(15, 20, 36);
    font-family: 'Rubik', sans-serif;
    font-weight: 400; /* Default weight */
}
main{
    max-width: 1440px;
    color: white;
}
/* section{
    display: grid;
    grid-template-columns: repeat(4,250px);
    grid-template-rows: repeat(2,250px);
    display: grid;
    gap: 40px;
    background-color: hsl(226, 43%, 10%);
    padding: 10px;
    
    
}
section div{
    background-color: hsl(235, 46%, 20%);
}
.intro{
    grid-row: 1 / 3;
    background-color: hsl(235, 46%, 20%);
} */

section {
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: repeat(2, minmax(200px, 1fr));;
    gap: 20px;
    background-color: hsl(226, 43%, 10%);
    padding: 40px;
    width: 90%;
    max-width: 1200px;
    /* margin-left: 0px; */
}

section div {
    background-color: hsl(235, 46%, 20%);
    border-radius: 10px;
    padding: 20px;
    min-height: 150px;
}

.intro {
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 0;
    /* justify-content: center; */
}
.user{
    padding: 0;
    height: 70%;
    width: 100%;
    background-color: hsl(246, 80%, 60%);
}
.user img{
    height: 70px;
    margin: 25px;
    border-radius: 50%;
    border: 4px solid white;
}
.user p{
    margin-left: 30px;
    margin-bottom: 0;
    font-weight: 100;
    color: hsl(236, 100%, 87%);
    font-size: 12px;
}
.user h1{
    font-size: 30px;
    margin-left: 30px;
    margin-top: 2px;
    font-weight: 50;
    color: hsl(260, 43%, 99%,90%);

}
.light {
    color: white;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.stats button {
    height: 40px;
    background: transparent;
    border: none;
    color: hsl(235, 45%, 61%);
    cursor: pointer;
    font-size: 20px;
    margin-left: 10px;
    text-align: left;
}

/* Optimized for dynamic JS class addition */
.stats button.light {
    color: white;
}

.work{
    background-color: hsl(15, 100%, 70%);
    padding: 0;
    position: relative;
    overflow: hidden;
}
.bag{
    position: absolute;
    right: 10px;
    top: -12px;
    height: 70px;
}
.workdet{
    position: absolute;
    bottom: -2px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 80%;
    padding: 0;

}
.play{
    background-color: hsl(195, 74%, 62%);
    padding: 0;
    position: relative;
    overflow: hidden;
}
.study{
    background-color: hsl(348, 100%, 68%);
    padding: 0;
    position: relative;
    overflow: hidden;
}
.exercise{
    background-color: hsl(145, 58%, 55%);
    padding: 0;
    position: relative;
    overflow: hidden;
}
.social{
    background-color: hsl(264, 64%, 52%);
    padding: 0;
    position: relative;
    overflow: hidden;
}
.selfcare{
    background-color: hsl(43, 84%, 65%);
    padding: 0;
    position: relative;
    overflow: hidden;
}
